.wrap-welcome {
    display: flex;
    flex-direction: column;
    padding: 0.62rem 1.25rem 0.62rem 2.3rem;
}
.welcome {    
    font-size: 1.13rem;   
}
.private-users {
    display: flex;
    flex-wrap: wrap;
}
.private-users a {
    text-decoration: none;
    color: #111;
}
.private-users ul {
    line-height: 1.8;
}
aside#menu {
    display: flex;
    flex-direction: column;
    padding: 0.62rem 14rem 3rem 0.62rem;
    background-color: beige;
}
aside#menu h2, .user-profile h2, .edit-profile h2, #coliver-rating h2, #coliving-rating h2 {
    font-weight: 700;
    color: #666;
    font-size: 1.12rem;
    padding: 0.62rem 0.62rem 0 0.62rem;
}
aside#menu ul .active {
    color: slategrey;
}
.user-profile ul {
    list-style: none;
    line-height: 2;
}
.user-profile h2 {
    padding: 0.62rem 0.62rem 0.62rem 1.8rem;
}
button.exit {
    background-color: lavender;
}
form.edit-profile, form#coliver-rating, form#coliving-rating {
    margin: 0;
    width: 25rem;
    max-width: 25rem;
    padding: 0.62rem 1rem 0.62rem 4rem;
}
form.edit-profile input, form#coliver-rating input {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem 1rem;
    margin-left: 0.62rem;
    border-radius: 0.3rem;
    color: #222222;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
.profile-elements, .scorer-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.profile-elements label, .scorer-elements label {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.1rem;
}
button.save-profile {
    background-color: lavender;
    margin-left: 6.25rem;
}
form#coliver-rating {
    width: 28rem;
    max-width: 28rem;
}
#coliver-rating h2 {
    padding: 0.62rem 0.62rem 1rem 0.62rem;
}
select.score {
    padding: 0.3rem;
    background-color: white;
    border-radius: 0.3rem;
    width: 13rem;
    margin-left: 0.62rem;
}
button.save-score {
    margin-left: 18.75rem;
    background-color:lavender;
    margin-top: 0.62rem;
}
button.save-coliving-score {
    margin-left: 16rem;
    background-color:lavender;
    margin-top: 0.62rem;
}

@media only screen and (max-width: 768px){
    .wrap-welcome {
        width:100%;
        max-width: 100%;
        padding: 0.62rem 0.62rem 0.62rem 0.62rem;
    }
    .profile-elements, .scorer-elements {
        justify-content: flex-start;
    }
    form.edit-profile, form#coliver-rating, form#coliving-rating {
        padding: 0.62rem 1rem 0.62rem 1rem;
        width: fit-content;
        max-width: fit-content;
    }
    button.save-profile, button.save-score, button.save-coliving-score {
        margin-left: 0;
    }
}